doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,700,400')
        script(src='/js/vendor/jquery.js')
        script(src='/js/vendor/jquery.jrumble.min.js')
        script(src='/js/vendor/lodash.js')
        script(src='/js/vendor/handlebars-v1.1.2.js')
        script(src='/js/vendor/lithium.js')
        script(src='/js/vendor/pixi.js')
        script(src='/js/vendor/fpsmeter.min.js')

    body
        block content
        script(src='/js/app.js')