doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/vendor/jquery.js')
        script(src='/js/vendor/lithium.js')
        script(src='/js/vendor/pixi.js')
        script(src='/js/vendor/pixi/Utils/Utils.js')
        script(src='/js/vendor/pixi/Loaders/AssetLoader.js')
        script(src='/js/vendor/pixi/Loaders/AtlasLoader.js')
        script(src='/js/vendor/pixi/Loaders/SpineLoader.js')
        script(src='/js/vendor/pixi/Extras/Spine.js')

    body
        block content
        script(src='/socket.io/socket.io.js')
        script(src='/js/app.js')