<div class="content gameContent">

    <canvas id="canvas" width="800" height="600" class="layout__left">
        Your browser does not support canvas element!
    </canvas>
    <div class="players layout__left">
        <h2 class="players-title">PLAYERS</h2>

        <div class="js__players">

        </div>
    </div>
    
    <div class="end-game-wrapper">
        <h3 class="title">GAME OVER</h3>
        <div class="name-container">
        </div>
        <div class="win-countdown">Going back to lobby in: <span>10</span> seconds.</div>
    </div>

</div>