<div class="content gameContent">

    <div class="score layout__left">
        <div class="scoreNumber">
            <h2>SCORE</h2>

            <p class="js__score">0</p>
        </div>
    </div>
    <div class="waiting">
        <h1>Waiting for other players</h1>
        <div class="manual">
            <div class="jump-manual">
                <div class="space">
                    <span>space</span>
                </div>
                <span class="additional">jump</span>
            </div>
            <div class="turn-manual">
                <div class="arrow-wrapper">
                    <div class="arrow-left">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-right">
                        <div class="arrow"></div>
                    </div>
                    <span>left / right</span>
                </div>

            </div>
        </div>
    </div>
    <canvas id="canvas" width="800" height="600" class="layout__left">
        Your browser does not support canvas element!
    </canvas>
    <div class="players layout__left">
        <h2>PLAYERS</h2>

        <div class="js__players">

        </div>
    </div>
    
    <div class="end-game-wrapper">
        <h3 class="title">CONGRATULATIONS TO</h3>
        <div class="name-container">
        </div>
        <div class="win-countdown">Going back to lobby in: <span>10</span> seconds.</div>
    </div>

</div>