<div class="content">
  <div class="sky-wrapper">
    <div class="logo-wrapper">
      <h1><a href="#">PURRfect</a></h1>
    </div>
  </div>
  <div class="tower-wrapper">
    <canvas id="canvas" width="800" height="100">
      Your browser does not support canvas element.
    </canvas>
  </div>
  <div class="lower-content-wrapper">
    <form action="#">
      <div class="nickname-wrapper">
          <h3>Name yourself</h3>
          <input type="text" name="nickname" placeholder="Your nickname"><br>
      </div>
      <div class="rooms-wrapper">
        <h3>Select room</h3>
        <div class=""><a href="#">1/2</a></div>
        <div class=""><a href="#" class="full">3/3</a></div>
        <div class=""><a href="#">3/4</a></div>
        <div class=""><a href="#">4/5</a></div>
      </div>
    </form> 
    </div>
  </div>
</div>