<div class="content">
    <div class="logo-wrapper">
        <img src="/img/logo.png" alt="Purrfect" width="341" height="84"/>
    </div>

  <div class="lower-content-wrapper">
    <div class="in-lobby"><span></span></div>
    <form action="#">
      <div class="nickname-wrapper">
          <div class="info-wrapper">
              <span class="info">How do you call your character?</span>
          </div>
          <input type="text" name="nickname" placeholder="Your nickname"><br>
      </div>
      <div class="info-wrapper">
           <span class="info rooms">Get a room:</span>
      </div>
      <div class="rooms-wrapper">
        <div class="room room_2max">
            <a href="#">
                0/2<br/>
                <span>players</span>
            </a>
        </div>
        <div class="room room_3max">
            <a href="#">
                0/3<br/>
                <span>players</span>
            </a>
        </div>
        <div class="room room_4max">
            <a href="#">
                0/4<br/>
                <span>players</span>
            </a>
        </div>
        <div class="room room_5max">
            <a href="#">
                0/5<br/>
                <span>players</span>
            </a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>