<div class="content">
    <div class="logo-wrapper">
        <img src="/img/logo.png" alt="Purrfect" width="341" height="84"/>
    </div>

    <div class="lower-content-wrapper">
        <div class="in-lobby"><span></span></div>
        <form action="#">
            <div class="nickname-wrapper">
                <div class="info-wrapper">
                    <span class="info">Your name:</span>
                </div>
                <input type="text" name="nickname" placeholder="Your nickname"><br>
                <div class="info-wrapper">
                    <span class="info">Your cat:</span>
                </div>
                <select name="cat">
                    <option value="grumpy">Grumpy cat</option>
                    <option value="chemistry">Chemistry cat</option>
                    <option value="keyboard">Keyboard cat</option>
                    <option value="bread">Bread cat</option>
                    <option value="tie">Tie cat</option>
                </select>
            </div>
            <div class="rooms-wrapper">
                <div class="room room_2max">
                    <a href="#">
                        go!
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>